* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url("assets/images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -999999;
}

.sidenav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 2s;
  z-index: 100;
}

.sidenav-bg {
  background-color: #fff;
  position: absolute;
  top: -20%;
  left: -10%;
  width: 110%;
  height: 180%;
  transition: 2s;
  transform: rotate(0deg);
  animation: skewSideNavOp 1s ease-in-out;
}

#openNav {
  display: none;
}

#openNav:checked ~ .sidenav-container {
  left: -100% !important;
}

#openNav:checked ~ .sidenav-container .sidenav-bg {
  transform: rotate(-12deg);
  animation: skewSideNav 1s ease-in-out;
  left: -150%;
}

@keyframes skewSideNav {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-12deg);
  }
}

@keyframes skewSideNavOp {
  0% {
    transform: rotate(-12deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.sidenav-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.eyes {
  filter: drop-shadow(5px 5px 10px #4cafc8);
  width: 100%;
  max-width: 720px;
  overflow: hidden;
}

.eyes-black {
  width: 103.5px;
}

.cross-icon {
  transition: 0.3s;
  width: 48px;
  cursor: pointer;
}

.cross-icon:hover {
  transition: 0.3s;
  transform: rotate(90deg);
}

.cross-icon img {
  width: 48px;
}

.button-left {
  position: absolute;
  bottom: 34%;
  right: 2%;
}

.btn-container {
  position: relative;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-container button {
  position: relative;
  background: #4cafc8;
  margin: 0;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #000;
  transition: 0.6s;
  font-size: 14px;
  text-transform: uppercase;
}

.btn-container button:hover {
  background-color: black;
  color: #fff;
  transition: 0.6s;
}

.tl-btn {
  position: absolute;
  top: 0;
  left: 0;
}

.br-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 22px;
  gap: 3rem;
}

.menu .item {
  font-family: HeadingFont;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 3rem;
  color: #ddd;
  transition: 0.6s;
  cursor: pointer;
  text-transform: uppercase;
  text-shadow: 2px 2px 10px #4cafc8;
}

.menu .item:hover {
  color: #000;
  transition: 0.6s;
}

.menu .item .num {
  /* font-family: HeadingFont; */
  font-size: 16px;
}

.menu .item .title {
  font-family: HeadingFont;
  font-size: 4vw;
}

.openNav {
  display: none;
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  z-index: 99;
}

.header-right {
  color: #4cafc8;
  text-decoration: underline;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 32px;
}

.menu-icon {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  cursor: pointer;
}

.menu-icon #line1 {
  width: 20px;
  transition: 1s;
}

.menu-icon:hover #line1 {
  width: 33px;
  transition: 1s;
}

.menu-icon #line2 {
  width: 33px;
  transition: 1s;
}

.menu-icon:hover #line2 {
  width: 20px;
  transition: 1s;
}

.lang {
  font-weight: bold;
  font-size: 12px;
}

.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  align-items: center;
  justify-content: center;
  padding: 3.5vw;
  flex-direction: column;
}

.tagline {
  color: #fff;
  font-family: HeadingFont;
  font-size: 2vw;
  display: block;
  width: 100%;
  max-width: 720px;
  text-align: center;
  padding: 3vw 0;
  text-transform: uppercase;
}

.eyes {
  animation: blurAnimation 2s infinite alternate ease-in-out;
  transform-style: preserve-3d;
}

@keyframes blurAnimation {
  0% {
    filter: blur(0.5px);
  }
  100% {
    filter: blur(5px);
  }
}

.row-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw;
  width: 100%;
  max-width: 420px;
}

.row-comment {
  color: #fff;
  font-size: 10px;
  max-width: 170px;
  text-align: right;
  padding: 8px 10px;
  position: relative;
}

.arrow {
  position: absolute;
  top: 10px;
  left: 0;
  width: 8px;
}

.header-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 2vw;
  color: #fff;
}

.header-bottom a {
  color: #fff;
  text-decoration: none;
  font-size: 10px;
  width: 100%;
  max-width: 120px;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.header-bottom .text-left {
  font-size: 10px;
  display: block;
  width: 100%;
  max-width: 120px;
}

.header-bottom .logo-header {
  width: 220px;
}

.arrowDown {
  transform: rotate(270deg);
  animation: jumpAnimation 2s infinite alternate ease-in-out;
}

@keyframes jumpAnimation {
  0% {
    padding-left: 0;
  }
  100% {
    padding-left: 10px;
  }
}

.row {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1024px;
  align-items: center;
  justify-content: space-between;
  gap: 22px;
  margin-bottom: 3vw;
}

.heading {
  font-family: HeadingFont;
  font-size: 2.8vw;
  display: block;
  max-width: 720px;
  text-transform: uppercase;
}

.logo-circle {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-circle img {
  width: 45px;
  transition: 0.6s;
}

.logo-circle:hover img {
  transition: 0.6s;
  filter: drop-shadow(5px 5px 10px #4cafc8) /* Blue shadow */
    drop-shadow(-5px -5px 10px rgb(180, 27, 160)); /* Pink shadow */
}

.grid-container {
  grid-column-gap: 0px;
  grid-row-gap: 2.6vw;
  grid-template-rows: auto;
  grid-template-columns: 13vw 19.5vw 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  color: #fff;
  width: 100%;
  max-width: 1024px;
}

.grid-item {
  grid-row-gap: 1.5vw;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.hr {
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 1px;
}

.vr {
  background-color: rgba(255, 255, 255, 0.2);
  width: 1px;
  height: 3.125vw;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.subh-card {
  background-color: #000;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 100vw;
  padding: 0.5vw 1vw;
}

.txt16 {
  font-size: 0.8vw;
  line-height: 120%;
}
.txt16.semi {
  font-weight: 600;
  line-height: 120%;
}
.txt16.semi.upper {
  text-transform: uppercase;
}

.col-cont {
  grid-row-gap: 1vw;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2vw;
  display: flex;
}
.txt16.semi.op60 {
  opacity: 0.6;
}
.txt50 {
  text-transform: uppercase;
  font-family: HeadingFont, sans-serif;
  font-size: 2.6vw;
  font-weight: 500;
  line-height: 130%;
  cursor: default;
}
.txt50.glitch.mob-grn {
  font-size: 2.5vw;
  transition: 0.6s;
}

.glitch:hover {
  transition: 0.6s;
  text-shadow: 2px 2px 10px #4cafc8, -2px -2px 10px rgb(180, 27, 160);
}

.benefits-list {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.benefits-list .item {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  max-width: 520px;
  padding: 2vw;
  column-gap: 22px;
}

.benefits-list .item:nth-child(odd) {
  align-self: flex-start; /* Align odd items to the left */
}

.benefits-list .item:nth-child(even) {
  align-self: flex-end; /* Align even items to the right */
}

.benefits-list .num {
  font-family: HeadingFont;
  font-size: 1.5vw;
}

.benefits-list .title {
  font-family: HeadingFont;
  font-size: 1vw;
  color: #4cafc8;
}

.benefits-list .strong {
  color: #fff;
  font-family: HeadingFont;
  font-size: 1.5vw;
  display: block;
  margin-bottom: 12px;
}

.founder-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100%;
  max-width: 1024px;
  gap: 22px;
  margin-bottom: 32px;
}

.founder-item {
  grid-row-gap: 1.5vw;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  height: 365px;
  display: flex;
  position: relative;
  max-width: 330px;
  width: 100%;
  padding: 16px;
  background: linear-gradient(45deg, #1c1c1c, #1c1c1c, #130124);
  border-radius: 5px;
}

.founder-item .image-box {
  width: 100%;
  height: 280px;
  max-height: 280px;
  overflow: hidden;
  background: linear-gradient(45deg, #000, #150d02);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: end;
  justify-content: center;
}

.founder-item .name {
  font-family: HeadingFont;
  font-size: 1.2vw;
}
.txt18 {
  font-size: 0.9vw;
  line-height: 120%;
}
.txt18.semi {
  font-weight: 600;
}
.txt18.semi.op60 {
  opacity: 0.6;
}
.partner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  min-width: 100%;
  max-width: 1024px;
  flex-wrap: wrap;
  gap: 22px;
  margin-bottom: 32px;
  padding: 2vw;
}

.partner-item {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  display: flex;
  position: relative;
  width: 200px;
  padding: 16px;
  background: linear-gradient(45deg, #1c1c1c, #1c1c1c, #130124);
  border-radius: 100%;
  transition: 0.6s;
  border: 1px solid #333;
}

.partner-item .image-box {
  width: 100%;
  height: 200px;
  max-height: 200px;
  padding: 22px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.partner-item .image-box img {
  filter: grayscale(1);
  transition: 0.6s;
}

.partner-item:hover {
  box-shadow: 1px 1px 10px #4cafc8;
  transition: 0.6s;
}

.partner-item:hover .image-box img {
  filter: none;
  transition: 0.6s;
}

.team-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100%;
  max-width: 1024px;
  gap: 22px;
  margin-bottom: 32px;
  flex-wrap: wrap;
}

.team-item {
  grid-row-gap: 1.5vw;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  height: 332px;
  display: flex;
  position: relative;
  max-width: 280px;
  width: 100%;
  padding: 16px;
  background: linear-gradient(45deg, #1c1c1c, #1c1c1c, #130124);
  border-radius: 5px;
}

.team-item .image-box {
  width: 100%;
  height: 280px;
  max-height: 280px;
  overflow: hidden;
  background: linear-gradient(45deg, #000, #150d02);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: end;
  justify-content: center;
}

.team-item .name {
  font-family: HeadingFont;
  font-size: 1.2vw;
}

.footer {
  position: relative;
  border-top: 1px solid #555;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  padding: 16px;
}

.footer .logo-header {
  width: 220px;
}

.privacy-txt {
  font-size: 0.9vw;
  color: #555;
  font-weight: bold;
  cursor: pointer;
}

.privacy-txt:hover {
  color: #fff;
}

.banner {
  position: relative;
  background-color: #000;
  min-height: 400px;
  width: 100%;
  overflow-x: hidden;
  z-index: 88;
}

.banner-white {
  position: absolute;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42px;
  padding: 22px;
  width: 1500px;
  overflow: hidden;
  transform: rotate(-9.5deg);
  left: -40px;
  top: 120px;
}

.banner-white img {
  width: 220px;
}

.banner-white .banner-txt {
  font-size: 3vw;
  font-family: HeadingFont;
}

.banner-blue {
  position: absolute;
  background-color: #1d1d1d;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42px;
  padding: 22px;
  width: 1500px;
  overflow: hidden;
  transform: rotate(8deg);
  left: -40px;
  top: 120px;
}

.banner-blue img {
  width: 220px;
}

.banner-blue .banner-txt {
  font-size: 3vw;
  font-family: HeadingFont;
  color: #4cafc8;
  display: block;
  width: 100%;
}
